<div class="header-container">
  <div class="win-options">
    @for (menuOption of menuOptions; track menuOption.id) {
      <button class="win-options-button action-button" (click)="selectOption(menuOption.label)"> {{ menuOption.label }} </button>
    }
  </div>
  <div class="win-select-container">
    <div class="win-select-field">
      <div class="win-select-content">
        <img class="win-icon-small" src="folder-icon.png">
        <span>{{ selectedOption() }}</span>
      </div>
      <div class="win-select-arrow">
        <button class="arrow-down-button" (click)="openSelectOptions()"><img src="arrow-downward.png"></button>
      </div>
    </div>
    
    @if (showMenu()){
      <ul class="win-select-list">
        @for (menuOption of menuOptions; track menuOption.id) {
          <li><button class="win-select-options" (click)="selectOption(menuOption.label)"> {{ menuOption.label }} </button></li>
        }
      </ul>
    }

  </div>
</div>
